/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

.display-4 { color: white;}
.bg-custom { background-color: rgba(62, 46, 7, 0.771);}
.bg-custom-solid { background-color: rgba(62, 46, 7, 1);}
.bg-btn-custom {background-color: rgb(2, 91, 14);}