/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

.display-4 { color: white;}
.bg-custom { background-color: #3e2e07c5;}
.bg-custom-solid { background-color: #3e2e07;}
.bg-btn-custom {background-color: #025b0e;}