---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
    
    {% include index/featured-terms.html field="family" title="Family Classifications" btn-color= "outline-warning" %}

    {% include index/featured-terms.html field="location_specific" title="Collected At" btn-color= "outline-warning" %}
    
  </div>
  <div class="col-md-4">  

    {% include index/carousel.html title="Herbarium Sheets" height=520 %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>